@font-face {
    font-family: "exo";
	src:url(../fonts/Exo.otf) format("truetype");
}
body{
	margin: 0;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: "exo";
}
.chtlinebx{
  float: left;
  width: 100%;
  min-height: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.chtxtbx{
  min-height:20px;
  padding: 10px;
}
.botxt{
  float: left;
}
.usertxt{
  float: right;
  text-align: right;
}

.botchtbx{
  float: left;
  max-width: 60%;
  min-width: 10%;
  border-radius: 5px;
  margin-left: 10px;
  min-height: 40px;
  background-color: #a3d0fd;
}
.userchtbx{
  float: right;
  max-width: 60%;
  min-width: 2%;
  border-radius: 5px;
  margin-right: 10px;
  min-height: 40px;
  background-color: #d6d6d6;
}

.cmdx{
  float: left;
  width: 100%;
  margin-top: 12px;
}
.commandbx{
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  color: #716c6c;
  cursor: pointer;
  font-size: 30px;
}

input[type="text"]{
  float: left;
  width: 520px;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 5px;
  height: 50px;
  margin: 0px 10px;
  border: 4px solid #dadada;
}

#buttx:focus{
  outline:none;
}
.formcnt{
  float: left;
  width: 100%;
  height: 560px;
}
#sendbt{
  float: right;
  margin-right: 10px;
  border: 5px solid rgba(0, 103, 206, 0.59);
  background-color: #0080ff;
  width: 160px;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
}
#actiontolbx{
  float: left;
  width: 100%;
  height: 50px;
}
#treadbx{
  float: left;
  width: 790px;
  height: 490px;
  border: 1px solid rgba(204, 204, 204, 0.27);
  background-color: rgba(249, 249, 249, 0.78);
  margin: 10px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.closex{
  color: #ffffff;
  text-align: center;
  margin-top: 4px;
  width: 100%;
}
.closebx{
  float: right;
  width: 50px;
  font-size: 20px;
  cursor: pointer;
  height: 30px;
  background-color: #f75151;
}
#cttopbx{
  float: left;
  width: 100%;
  height: 30px;
  background-color: rgba(197, 197, 197, 0.55);
}
#chatwindowbx{
  float: left;
  width: 100%;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.63);
}
#chatareabx{
  width: 800px;
  display: none;
  height: 600px;
  background-color: #ffffff;
  margin: 4% auto;
}
#welbx{
	width: 260px;
	height: 260px;
	margin: 200px auto;
	margin-right: 475px;
}

#welbx button{
	width: 100%;
    color: #ffffff;
    height: 260px;
    font-family: "exo";
    border: 5px solid rgba(35, 35, 35, 0.29);
    font-size: 24px;
    animation: color-animation 25s infinite linear alternate, border-animation  1.5s infinite linear alternate;
    /*animation: border-animation  25s infinite linear alternate;*/
    border-radius: 180px;
}

@keyframes border-animation {
	0% {
       border-width: 10px;
    }
    20% {
       border-width: 15px;
    }
    40% {
       border-width: 20px;
    }
    60% {
       border-width: 25px;
    }
    80% {
       border-width: 30px;
    }
    100% {
       border-width: 35px;
    }
}

 @keyframes color-animation {
    0% {
       background: #de0000;
    }
    10% {
       background: #dea100;
    }
 
    80% {
       background: #de009c;
    }
    90% {
       background: #de005f;
    }
    100% {
       background: #de0000;
    } 
 }

/*.block {
   width: 100%;
   height: 100%;
   animation: color-animation 3s infinite linear alternate;
}*/